<style>
/* Edwardian Script Import */
@font-face {
    font-family: 'edward';
    src: url("fonts/Edwardian_Script_ITC.ttf");
}

/* Some Reused Variables */
:root {
  --green: #0e4d44;
  --footer-height: 250px;
}

/* Navigation Styling */
nav {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #fff;
  z-index: 100;
}

/* Mobile Navigation Styling */
@media only screen and (min-width: 1000px) {
  nav {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
}

ul {
  display: inherit;
}

#h-bar {
  visibility: hidden;
  padding: 0px;
}

ul li:hover {
  background-color: var(--green);
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 0px 20px;
  color: var(--green);
  font-family: Arial;
  font-weight: bold;
  transition: ease-in-out 0.15s;
}

ul li a:hover {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  ul {
    display: grid;
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    visibility: hidden;
  }

  ul li {
    background-color: #fff;
    text-align: center;
  }

  #h-bar {
    visibility: visible;
    position: relative;
    padding-top: 5px;
    padding-left: 0;
    width: 100%;
  }
}

ul li {
  list-style: none;
  display: inline-inline-block;
  float: left;
  line-height: 40px;
  transition: ease-in-out 0.15s;
}


/* Rotating Banner Styling */
.banner-wrapper-outer {
  position: relative;
  text-align: center;
  width: 100%;
}

.banner-wrapper {
  position: relative;
  width: 70%;
  text-align: center;
  align-self: center;
}

.banner {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: calc(21%);
  width: 100%;
  transition: linear 1s;
}

/* Mobile Rotating Banner Styling */
@media only screen and (max-width: 1000px) {
  .banner-wrapper {
    width: 100%;
  }

  .banner {
    left: 0;
  }
}

/* Quick Links Styling */
.quick-links {
  width: 100%;
  margin: auto;
  text-align: center;
  position: inherit;
  padding-top: 32%;
}

.quick-links a img {
  width: 200px;
  margin: 20px 50px;
  transition: transform .2s;
}

@media only screen and (max-width: 1000px) {
  .quick-links {
    padding-top: 50%;
  }

  .quick-links a img {
    width: 150px;
    margin: 20px 15px;
    transition: transform .2s;
  }
}

/* Sycamore Styling */
.quick-links a img:hover {
  transform: scale(1.05);
}

.sycamore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sycamore img {
  width: 250px;
  padding-top: 10px;
  padding-left: 250px;
  float: right;
}

.sycamore h6 {
  padding-top: 100px;
  font-size: 60px;
  font-family: edward;
  position: relative;
}

.quote {
  font-family: serif;
  font-size: 16px;
  text-align: center;
  padding-left: 150px;
}

@media only screen and (max-width: 1000px) {

  .sycamore {
    padding-top: 0px;
  }
  .sycamore img {
    width: 150px;
    padding-top: 10px;
    padding-left: calc(40%);
    float: right;
  }

  .sycamore h6 {
    padding-top: 50px;
    font-size: 32px;
    position: relative;
    padding-left: 0;
  }

  .quote {
    padding-left: 50px;
    font-size: 12px;
  }

}

/* Page Container */
.page-container {
  min-height: 100vh;
  position: relative;
}

.content {
  /* Footer Size Here */
  padding-bottom: var(--footer-height);
}

/* Footer Styling */
footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  color: #fff;
}

footer .legal-stuff {
  padding-top: 30px;
  text-align: center;
}

footer .legal-stuff a {
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
  margin: 20px 50px;
}

footer .legal-stuff a:hover {
  color: #fff;
}

footer .social-media {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

footer .social-media a {
  opacity: .8;
}

footer .social-media a:hover {
  opacity: 1.0;
}

footer .info {
  text-align: center;
  padding-top: 20px;
  margin: auto;
  line-height: 20px;
}

</style>
