<style>
/* Footer Styling */
footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  color: #fff;
}

footer .legal-stuff {
  padding-top: 30px;
  text-align: center;
  margin: auto;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--green);
}

footer .legal-stuff a {
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
  margin: auto;
}

footer .legal-stuff a:hover {
  color: #fff;
}

footer .social-media {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

footer .social-media a {
  opacity: .8;
  padding: 0px 40px;
  text-decoration: none;
}

footer .social-media a:hover {
  opacity: 1.0;
}

footer .info {
  text-align: center;
  padding-top: 20px;
  margin: auto;
  line-height: 24px;
}

#phone-number {
  text-decoration: underline;
  color: #fff;
}

/* Mobile Footer Correction */
@media only screen and (max-width: 1000px) {
  footer {
    height: var(--footer-height);
  }
  footer .legal-stuff {
    width: 100%;
    position: absolute;
    top: 370px;
    padding-bottom: 30px;
  }

  footer .legal-stuff a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    font-size: 40px;
  }

  .sm-icon {
    width: 128px;
    height: 128px;
  }

  footer .social-media {
    background-color: var(--green);
    padding-top: 30px;
  }

  footer .info {
    font-size: 40px;
    line-height: 48px;
    background-color: var(--green);
    padding-bottom: 30px;
  }
}
</style>
