<style>
/* Footer Styling */
footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  color: #fff;
}

footer .legal-stuff {
  padding-top: 30px;
  text-align: center;
}

footer .legal-stuff a {
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
  margin: 20px 50px;
}

footer .legal-stuff a:hover {
  color: #fff;
}

footer .social-media {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

footer .social-media a {
  opacity: .8;
}

footer .social-media a:hover {
  opacity: 1.0;
}

footer .info {
  text-align: center;
  padding-top: 20px;
  margin: auto;
  line-height: 20px;
}
</style>
