<style>
/* Quick Links Styling */
.quick-link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  align-self: center;
  position: inherit;
  padding-top: 20px;
}

.quick-link {
  display: grid;
  grid-template-rows: 20% auto;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  transition: transform .2s;
  box-shadow: 8px 8px 8px black;
  background: rgb(14,77,68);
}

#giving-icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% auto;
  overflow: hidden;
  width: 50%;
  margin: auto;
}

.giving-icon {
  width: 64px;
  height: 64px;
  margin: auto;
  border-color: black;
}

.quick-link:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px black;
}

.quick-link-text {
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
  color: white;

}

@media only screen and (max-width: 1000px) {
  .quick-link-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .quick-link {
    width: 400px;
    height: 400px;
    align-self: center;
    transition: transform .2s;
  }

  .quick-link-text {
    font-size: 56px;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
    color: white;
  }

  .quick-link:hover {
    transform: none;
  }

  #giving-icon-container {
    width: 64%;
  }

  .giving-icon {
    width: 128px;
    height: 128px;
  }
}

/*Individual Stylings
#quick-link-1 {
  background: rgb(255, 0, 0);
}
#quick-link-2 {
  background: rgb(255, 255, 0);
}
#quick-link-3 {
  background: rgb(255, 0, 255);
}
#quick-link-4 {
  background: rgb(0, 255, 0);
}
#quick-link-5 {
  background: rgb(0, 255, 255);
}
#quick-link-6 {
  background: rgb(0, 0, 0);
}
*/
</style>
