<style>
/* Quick Links Styling */
.quick-links {
  width: 100%;
  margin: auto;
  text-align: center;
  position: inherit;
  padding-top: 20px;
}

.quick-links a img {
  width: 200px;
  margin: 20px 50px;
  transition: transform .2s;
  box-shadow: 8px 8px 8px black;
}

.quick-links a img:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px black;
}

@media only screen and (max-width: 1000px) {
  .quick-links a img {
    width: 150px;
    margin: 20px 15px;
    transition: transform .2s;
  }
}
</style>
