<style>
/* Edwardian Script Import */
@font-face {
    font-family: 'edward';
    src: url("fonts/Edwardian_Script_ITC.ttf");
}

/* Some Reused Variables */
:root {
  --green: #0e4d44;
  --footer-height: 250px;
}



</style>
