<style>
/* Edwardian Script Import */
@font-face {
    font-family: 'edward';
    src: url("fonts/Edwardian_Script_ITC.ttf");
}

/* Some Reused Variables */
:root {
  --green: #0e4d44;
  --footer-height: 250px;
}

/* Sycamore Styling */
.quick-links a img:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px black;
}

.sycamore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sycamore img {
  width: 250px;
  padding-top: 10px;
  padding-left: 250px;
  float: right;
}

.sycamore h6 {
  padding-top: 100px;
  font-size: 60px;
  font-family: edward;
  position: relative;
}

.quote {
  font-family: serif;
  font-size: 16px;
  text-align: center;
  padding-left: 150px;
}

@media only screen and (max-width: 1000px) {

  .sycamore {
    padding-top: 0px;
  }
  .sycamore img {
    width: 150px;
    padding-top: 10px;
    padding-left: calc(40%);
    float: right;
  }

  .sycamore h6 {
    padding-top: 50px;
    font-size: 32px;
    position: relative;
    padding-left: 0;
  }

  .quote {
    padding-left: 50px;
    font-size: 12px;
  }

}


</style>
