<style>
/* Sycamore Styling */
.sycamore {
  display: grid;
  grid-template-columns: auto 65% auto;
  grid-template-rows: 1fr;
  width: 75%;
  max-width: 1000px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.sycamore img {
  width: 100%;
  float: right;
}

.sycamore h6 {
  padding-top: 10%;
  font-size: 64px;
  font-family: edward;
  position: relative;
}

.quote {
  font-family: serif;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .sycamore {
    width: 100%;
    grid-template-columns: auto 75% auto;
  }

  .sycamore h6 {
    font-size: 100px;
  }

  .sycamore img {
    padding-top: 50%;
  }

  .quote {
    font-size: 34px;
  }
}
</style>
